*.out

# Folders to ignore
__MACOSX/
.vscode/

# Lab 4 Files to keep
!example_fifo.out
!example_fifo_analysis.out
!example_sjf.out
!example_sjf_analysis.out

# Lab 5 Files to keep
!example_lt_analysis.out
!example_rr_analysis.out
!example_stcf_analysis.out

# Lab 6 files to keep
!tests.out

# Lab 6 files to ignore
LAB6/*/myalloc
LAB6/*/myalloc.h
mytest.c

# Lab 7 files to keep
!LAB7/*/*.out

# Lab 8 files to keep
!LAB8/*/*.out